
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.url}}{{site.baseurl}}">HOME</a>
    <span class="exclamationMark">/</span>
     <a class="page-link" href="http://susannalles.com/CATARSL/about/index.html">About</a>
     
     <span class="exclamationMark">/</span>
     <a class="page-link" href="http://susannalles.com/CATARSL/cfp/index.html">CFP</a>
      <span class="exclamationMark">/</span>
       <a class="page-link" href="http://susannalles.com/CATARSL/program/index.html">Program</a>
       <span class="exclamationMark">/</span>
       <a class="page-link" href="http://susannalles.com/CATARSL/travel/index.html">Travel</a>

   <!-- {% for sitePage in site.pages %}
    {% if sitePage.title %} -->

   <!-- <span class="exclamationMark">/</span><a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
    {% endif %}
    {% endfor %}-->
  </div>
  <img src="/img/abstract-access-close-up-1089438.jpg" alt="img/>
</div>
